.l-page
  background-color #fff

  &__inner
    width 100%


  &__container
    width 100%

  &__footer
    width 100%
    background-color rgb(239, 239, 239)
    display block
    min-height 180px
    padding-bottom 20px



  //&__application
  //  position relative


