<section class="catalog-title">
    <div class="catalog-title__wrapper">
        <h1 class="catalog-title__title wow fadeIn">Каталог Продукции</h1>
        <table class="catalog-title__title-desc wow fadeIn"><tbody><tr>
            <td>Гидроизоляция не только предохраняет защищаемую поверхность от контакта с водой,
                но и обеспечивает гидроизоляцию, повышает стойкость строительной конструкции
                против коррозии, тем самым продлевая её срок службы </td></tr></tbody></table>
    </div>
</section>