<section class="certificates">
    <div class="certificates__title-wrapper">
        <h2 class="certificates__title wow fadeIn"><span class="certificates__title-bold">смеси metacrete прошли все испытания</span><br>
            и сертифицированны в ОАО “ниимосстрой”</h2>
    </div>
    <div class="certificates__inner">
        <div class="objects-galery" id="js-lightgallery">
            <a class="objects-galery__item-link wow fadeIn" href="images/certificates/cert1.jpg">
                <div class="objects-galery__overlay"></div>
                <img class="bjects-galery__image" src="./images/certificates/cert1.jpg"  alt="">

            </a>
            <a class="objects-galery__item-link wow fadeIn" data-wow-delay=".2s"  href="images/certificates/cert2.jpg">
                <div class="objects-galery__overlay"></div>
                <img class="objects-galery__image" src="./images/certificates/cert2.jpg" alt="">
            </a>
            <a class="objects-galery__item-link wow fadeIn" data-wow-delay=".4s"  href="images/certificates/cert3.jpg">
                <div class="objects-galery__overlay"></div>
                <img class="objects-galery__image" src="./images/certificates/cert3.jpg" alt="">
            </a>
            <a class="objects-galery__item-link wow fadeIn" data-wow-delay=".6s"  href="images/certificates/cert4.jpg" >
                <div class="objects-galery__overlay"></div>
                <img class="objects-galery__image" src="./images/certificates/cert4.jpg" alt="">
            </a>
        </div>
    </div>
</section>