<section class="employment">
    <div class="employment__wrapper">
        <ul class="employment__list">
            <li class="employment__item">
                <h4 class="employment__title employment__title--1 wow fadeIn">Гидроизоляция</h4>
               <div class="employment__content-wrapper employment__content--wrapper1">
                   <p class="employment__content wow fadeInRight">Бетонных и железобетонных конструкций</p>
               </div>
                <div class="employment__content-wrapper employment__content--wrapper2 ">
                    <p class="employment__content wow fadeInLeft">Фундаментных плит, бассейнов, подвальных помещений</p>
                </div>
                <div class="employment__content-wrapper employment__content--wrapper3">
                    <p class="employment__content wow fadeInRight">Промышленных объектов: шахт, мостовых конструкций и т.д.</p>
                </div>

                <p class="employment__spec employment__spec--1 wow fadeInDown">Обеспечение водонепроницаемости конструкций
                    гидротехнических сооружений (плотины, дамбы)</p>
            </li>
            <li class="employment__item">
                <h4 class="employment__title employment__title--2 wow fadeIn">Защита</h4>
                <div class="employment__content-wrapper employment__content--wrapper4">
                    <p class="employment__content wow fadeInRight">Бетонных и железобетонных конструкций от разрушающего
                        действия воды, хлоридов и карбонизации</p>
                </div>
                <div class="employment__content-wrapper employment__content--wrapper5 ">
                    <p class="employment__content wow fadeInLeft">Поверхностей конструкций, подвергающихся
                        линейной деформации</p>
                </div>
                <div class="employment__content-wrapper employment__content--wrapper6">
                    <p class="employment__content wow fadeInRight">Фундаментных плит в гражданском строительстве
                        (бассейнов, подвальных помещений и т.д.)</p>
                </div>

                <p class="employment__spec employment__spec--2 wow fadeInDown">Внутренняя и внешняя защита прижимной
                    гидроизоляции заглубленных и наземных резервуаров</p>
            </li>
            <li class="employment__item">
                <h4 class="employment__title employment__title--3 wow fadeIn">Для применения</h4>
                <div class="employment__content-wrapper employment__content--wrapper7">
                    <p class="employment__content wow fadeInRight">В качестве состава для заделки швов и заполнения
                        пор в бетоннных изделиях и конструкциях</p>
                </div>
                <div class="employment__content-wrapper employment__content--wrapper8 ">
                    <p class="employment__content wow fadeInLeft">В качестве выравнивающего
                        тонкослойного состава</p>
                </div>
                <div class="employment__content-wrapper employment__content--wrapper9">
                    <p class="employment__content wow fadeInRight">В качестве гидроизоляционного покрытия
                        резервуаров с питьевой водой</p>
                </div>
            </li>
        </ul>
        <a class="button button-employment js-show-modal" href="#js-modal">Узнать подробнее</a>
    </div>
</section>