<section class="features">
    <div class="features__inner">
        <h2 class="features__title-block">Особенности</h2>
        <div class="features__item">
            <h4 class="features__title features__title--destruction">Разрушения</h4>
            <p class="features__description">
                Мы разрабатываем и производим материалы для
                ремонта ЛЮБЫХ повреждений бетона и железобетона.
            </p>
            <a class="features__link js-show-modal-features" href="#js-modal-features-destruction">Узнать Подробнее</a>
        </div>

        <div class="features__item">
            <h4 class="features__title features__title--objects">Объекты</h4>
            <p class="features__description">
                За последние 2 года наши смеси  использовали  в ремонте более 100 промышленных объектов.
            </p>
            <a class="features__link js-show-modal-features" href="#js-modal-features-objects">Узнать Подробнее</a>
        </div>

        <div class="features__item">
            <h4 class="features__title features__title--price">Стоимость</h4>
            <p class="features__description">
                Наши клиенты экономят до 40% на закупке наших смесей.
            </p>
            <a class="features__link js-show-modal-features" href="#js-modal-features-price">Узнать Подробнее</a>
        </div>

        <div class="features__item">
            <h4 class="features__title features__title--quality">Качество</h4>
            <p class="features__description">
                Продукты METACRETE обладают высокими эксплуатационными показателями, прошедшими необходимые лабораторные и полевые испытания.
            </p>
            <a class="features__link js-show-modal-features" href="#js-modal-features-quality">Узнать Подробнее</a>
        </div>

        <div class="features__item">
            <h4 class="features__title features__title--availability">Доступность</h4>
            <p class="features__description">
                Продукция Metacrete распространяется через все крупные города РФ.
            </p>
            <a class="features__link js-show-modal-features" href="#js-modal-features-availability">Узнать Подробнее</a>
        </div>

        <div class="features__item">
            <h4 class="features__title features__title--approach">Знание дела</h4>
            <p class="features__description">
                Накопленный компанией опыт позволяет найти индивидуальные решения для любых задач бизнеса, техники и технологии.
            </p>
            <a class="features__link js-show-modal-features" href="#js-modal-features-approach">Узнать Подробнее</a>
        </div>

    </div>
</section>