<div class="info-block">
    <h3 class="info-block__title">Где можно применять</h3>
<div class="info-block__wrapper">

    <div id="plan-box">
        <div class="info-block__pin info-block__pin--1 concrete"><a class="info-block__pulse info-block__pulse--concrete"></a></div>
        <div class="info-block__pin info-block__pin--2 seams"><a class="info-block__pulse info-block__pulse--seams"></a></div>
        <div class="info-block__pin info-block__pin--3 flow"><a class="info-block__pulse info-block__pulse--flow"></a></div>
        <div class="info-block__pin info-block__pin--4 floor"><a class="info-block__pulse info-block__pulse--floor"></a></div>
        <div class="info-block__pin info-block__pin--5 cutOff"><a class="info-block__pulse info-block__pulse--cutOff"></a></div>
        <div class="info-block__pin info-block__pin--6 bricks"><a class="info-block__pulse info-block__pulse--bricks"></a></div>
        <div class="info-block__pin info-block__pin--7 overlapping"><a class="info-block__pulse info-block__pulse--overlapping"></a></div>
        <div class="info-block__pin info-block__pin--8 joints"><a class="info-block__pulse info-block__pulse--joints"></a></div>
        <img src="./images/info-block/plan-transparent.jpg"  alt="" usemap="#plan" id="js-plan">
        <img class="js-info-bg" src="./images/info-block/plan-transparent1.jpg"  alt="" usemap="#plan" id="js-joints">
        <img class="js-info-bg" src="./images/info-block/plan-transparent2.jpg"  alt="" usemap="#plan" id="js-overlapping">
        <img class="js-info-bg" src="./images/info-block/plan-transparent3.jpg" alt="" usemap="#plan" id="js-bricks">
        <img class="js-info-bg" src="./images/info-block/plan-transparent4.jpg" alt="" usemap="#plan" id="js-cutOff">
        <img class="js-info-bg" src="./images/info-block/plan-transparent5.jpg" alt="" usemap="#plan" id="js-floor">
        <img class="js-info-bg" src="./images/info-block/plan-transparent6.jpg" alt="" usemap="#plan" id="js-flow">
        <img class="js-info-bg" src="./images/info-block/plan-transparent7.jpg"  alt="" usemap="#plan" id="js-seams">
        <img class="js-info-bg" src="./images/info-block/plan-transparent8.jpg"  alt="" usemap="#plan" id="js-concrete">

    </div>

    <div class="container">

        <map name="plan" id="plan">
            <area alt="" title="" href="#" class="overlapping" shape="poly" coords="661,62,725,62,724,92,644,144,643,145,599,145,598,143,598,140,605,134,605,132,604,129,602,128,600,127,599,126,598,126,598,123" />
            <area alt="" title="" href="#" class="overlapping" shape="poly" coords="727,62,904,62,904,90,858,92,730,144,648,145,727,94,729,94" />
            <area alt="" title="" href="#" class="joints" shape="poly" coords="725,62,725,92,645,144,647,145,727,94,727,63" />
            <area alt="" title="" href="#" class="joints" shape="poly" coords="904,91,860,92,732,144,732,145,860,94,903,93" />
            <area alt="" title="" href="#" class="bricks" shape="poly" coords="733,259,859,249,903,248,904,250,905,546,860,545,732,450" />

            <area alt="" title="" href="#" class="cutOff" shape="poly" coords="806,519,808,522,806,523,804,523,806,525,807,524,805,522,808,522,804,520" />
            <area alt="" title="" href="#" class="cutOff" shape="poly" coords="812,532,814,534,813,536,811,535" />
            <area alt="" title="" href="#" class="cutOff" shape="poly" coords="825,536,827,539,826,540" />
            <area alt="" title="" href="#" class="cutOff" shape="rect" coords="830,550,832,552" />
            <area alt="" title="" href="#" class="cutOff" shape="poly" coords="843,550,891,592,889,595,887,595,841,554" />

            <area alt="" title="" href="#" class="floor" shape="poly" coords="37,572,80,571,224,461,723,462,723,451,730,449,857,545,905,546,904,538,904,538,905,537,916,546,919,615,38,615" />

            <area alt="" title="" href="#" shape="poly" class="flow" coords="80,498,65,504,54,503,49,498,46,492,40,487,35,487,31,488,29,491,25,495,24,499,16,501,12,501,9,504,18,503,26,500,28,498,30,495,32,492,35,490,38,490,41,492,42,494,44,497,39,497,36,497,34,498,33,501,31,504,30,505,28,508,26,509,21,511,18,513,19,514,24,512,28,510,31,508,33,505,35,502,38,500,39,499,42,498,45,500,48,503,49,504,46,506,44,509,42,511,40,512,37,512,36,512,34,514,30,514,30,516,28,518,26,520,25,523,24,527,24,530,26,532,26,530,26,526,27,524,28,521,31,519,33,518,36,516,41,513,45,510,47,508,49,507,51,506,54,506,58,507,62,507,66,506,73,505,77,502,79,501" />
            <area alt="" title="" href="#" shape="poly" class="flow" coords="37,485,52,495,72,495,79,509,59,514,44,519,39,519" />

            <area alt="" title="" href="#" class="seams" shape="poly" coords="37,447,79,447,160,405,224,374,224,376,80,450,37,449,37,449" />
            <area alt="" title="" href="#" class="seams" shape="poly" coords="163,402,163,358,160,359,160,403" />
            <area alt="" title="" href="#" class="seams" shape="poly" coords="36,388,79,388,158,360,223,338,224,337,224,336,80,384,37,386" />
            <area alt="" title="" href="#" class="seams" shape="poly" coords="124,368,125,313,121,313,121,368" />
            <area alt="" title="" href="#" class="seams" shape="poly" coords="194,344,194,300,191,300,192,346" />
            <area alt="" title="" href="#" class="seams" shape="poly" coords="37,321,80,321,223,295,224,294,80,317,80,318,82,317,37,318" />
            <area alt="" title="" href="#" class="seams" shape="poly" coords="163,302,162,254,160,253,160,303" />
            <area alt="" title="" href="#" class="seams" shape="poly" coords="37,254,80,254,224,254,223,251,80,251,37,251" />
            <area alt="" title="" href="#" class="seams" shape="poly" coords="194,251,194,209,192,208,192,250" />
            <area alt="" title="" href="#" class="seams" shape="poly" coords="124,250,124,200,122,199,122,251" />
            <area alt="" title="" href="#" class="seams" shape="poly" coords="37,194,79,194,224,212,223,209,80,191,37,191" />

            <area alt="" title="" href="#" class="concrete" shape="poly" coords="37,570,36,62,331,62,386,126,386,151,227,151,226,459,79,571" />
            <area alt="" title="" href="#" class="concrete" shape="poly" coords="732,259,860,248,902,248,903,94,861,94,733,145" />
        </map>

    </div>
</div>
</div>
