<section class="main-form-block">
    <div class="main-form-block__inner">
        <div class="main-form-block__left-block">
            <div class="main-form-block__block-inner">
                <h2 class="main-form-block__title">Оставьте заявку</h2>
                <p class="main-form-block__desc"> <?= timeUtm();?></p>
                <p class="main-form-block__desc">
                    Наши менеджеры ответят на все ваши вопросы,  подберут смесь под Ваш объект,   предоставят всю необходимую документацию.
                </p>
                <p class="main-form-block__title">Наши контактные данные:</p>
                <p class="main-form-block__desc">
                    <a class="main-form-block__phone roistat-phone-tel js-phone-wrap" href="tel:+74997042796"><span class="roistat-phone">8 (499) 704-27-96</span></a><br>
                    <a class="main-form-block__mail js-email-link" href="mailto:sales4@metacrete.ru">sales4@metacrete.ru</a><br>
                    Работаем с 8:00 до 17:00 по Мск<br>
                </p>
            </div>
        </div>
        <div class="main-form-block__right-block">

            <form class="main-form" action="succes.php" method="post">
                <input class="main-form__name" type="text" name="name" required="" placeholder="Вашe имя">
                <input class="main-form__phone" type="text" name="phone" required="" placeholder="Ваш номер телефона">
                <textarea class="main-form__comment" type="text" name="comment" required="" placeholder="Комментарий (не обязательно)" rows="3" cols="45" ></textarea>
                <button class="button-main-form" type="submit">Заказать</button>
                <p class="main-form__desc">Нажимая на кнопку, я даю <br><a href="soglashenie.pdf" target="_blank" class="main-form__link">cогласие на обработку персональных данных</a></p>
                <input type="hidden" name="forma" value="Обратный звонок">
                <input type="hidden" name="order_type" value="2">
                <input type="hidden" name="utm_source" value="<?php echo isset($_GET['utm_source']) ? $_GET['utm_source'] : '' ;?>">
                <input type="hidden" name="utm_medium" value="<?php echo isset($_GET['utm_medium']) ? $_GET['utm_medium'] : '' ;?>">
                <input type="hidden" name="utm_campaign" value="<?php echo isset($_GET['utm_campaign']) ? $_GET['utm_campaign'] : '' ;?>">
                <input type="hidden" name="utm_term" value="<?php echo isset($_GET['utm_term']) ? $_GET['utm_term'] : '' ;?>">
                <input type="hidden" name="utm_placement" value="<?php echo isset($_GET['utm_placement']) ? $_GET['utm_placement'] : '' ;?>">
                <input type="hidden" name="utm_creative" value="<?php echo isset($_GET['utm_creative']) ? $_GET['utm_creative'] : '' ;?>">
                <input type="hidden" name="utm_content" value="<?php echo isset($_GET['utm_content']) ? $_GET['utm_content'] : '' ;?>">
                <input type="hidden" value="8838" name="time_spend"><input type="hidden" value="false" name="mobile">
            </form>

        </div>
    </div>
</section>