.contacts
  &__wrapper
    background-color #fff
    color #232323
    max-width 1200px
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-around
    margin auto
    padding 25px 0

  &__left, &__right
    display flex
    flex-wrap nowrap
    flex-direction column
    justify-content space-around

  &__title
    text-align center

  &__desc
    max-width 315px
    margin 7px 0 0 0
    line-height 1.4em

  &__links
    text-decoration none
    color #232323

