.modal
  max-width 400px
  width 100%
  padding 30px 20px 50px 20px
  background-color #efefef
  text-align center
  position fixed
  top 0
  bottom 0
  height 100%
  max-height 260px
  left 0
  right 0
  margin auto
  z-index 1000
  color #232323
  display none
  @media (max-width: 415px)
    max-height 300px
    max-width 240px

  &__title
    color #232323
    font-weight 400
    font-size 24px
    &:after
      content ""
      background #232323
      display inline-block
      width 40%
      height 1px

  &__desc
    font-size 20px
    font-weight 400
    margin 10px 0

    @media (max-width: 768px)
      font-size 18px
    @media (max-height: 565px)
      font-size 16px

  &__close
    position absolute
    right 8px
    top 14px
    width 32px
    height 32px
    opacity 0.4
    &:hover
      opacity 1
    &:before, &:after
      position absolute
      left 15px
      content ' '
      height 20px
      width 2px
      background-color #232323

    &:before
      transform rotate(45deg)

    &:after
      transform rotate(-45deg)

  &--features
    width 80%
    max-width 700px
    max-height 330px
    @media (max-width: 768px)
      max-height 400px
    @media (max-width: 435px)
      max-height 500px
    @media (max-height: 565px)
      max-height 424px

