.objects-galery1
  width 100%

  &__item-link
    display inline-block
    height auto
    width 30.33333%
    float left
    position relative
    margin 0 0 25px 25px
    @media (max-width: 992px)
      width 46%

    @media (max-width: 768px)
      width 100%
      margin 0 0 25px 0

  &__image
    width 100%
    min-height 300px

  &__desc
    color #fff
    position absolute
    bottom 0
    text-align center
    left 0
    right 0
    max-height 60px
    display flex
    justify-content center
    flex-direction column
    height 100%
    background-color rgba(0, 0, 0, 0.61)