.button-employment
  max-width 250px
  margin 0 auto 25px auto
  position absolute
  bottom 0
  left 0
  z-index 99
  right 0
  text-align center
  text-decoration none

  padding 16px 35px
  color #3173a2
  text-transform uppercase
  font-size 23px
  font-weight 400
  border 2px solid #3173a1
  -webkit-transition-property background
  -webkit-transition-duration 0.5s
  -webkit-transition-timing-function ease
  &:hover
    cursor pointer
    background-color #3173a2
    border 2px solid #3173a2
    color #fff
    -webkit-transition-property background
    -webkit-transition-duration 0.2s
    -webkit-transition-timing-function ease