.button-map-form
  font-size 20px
  text-transform uppercase
  font-weight 400
  max-width 315px
  width 100%
  margin-top 25px
  padding 13px 0
  color #232323
  background #fcbf00
  border none
  -webkit-transition-property background
  -webkit-transition-duration 0.5s
  -webkit-transition-timing-function ease
  &:hover
    cursor pointer
    background #232323
    color #fff
    -webkit-transition-property background
    -webkit-transition-duration 0.3s
    -webkit-transition-timing-function ease
  &:focus
    outline none
