.button-girl-form
  font-size 20px
  text-transform uppercase
  font-weight 300
  max-width 315px
  width 100%
  margin-top 25px
  padding 13px 0
  color #fff
  background #2473a3
  border 1px solid
  -webkit-transition-property background
  -webkit-transition-duration 0.5s
  -webkit-transition-timing-function ease
  &:hover
    cursor pointer
    background #fff
    color #2473a3
    -webkit-transition-property background
    -webkit-transition-duration 0.3s
    -webkit-transition-timing-function ease
  &:focus
    outline none
