.button-form
  width 92%
  color #000
  background-color #ffc200
  font-family 'PT Sans', sans-serif
  border 1px solid #ffc200
  font-size 140%
  line-height 1.5
  padding 0.1em .1em
  display inline-block
  border-radius 0.12em
  max-width 300px
  margin 0px auto 0 auto
  text-transform uppercase
  outline none

  &:hover
    cursor pointer
    background rgb(222, 174, 21)
    -webkit-transition-property background
    -webkit-transition-duration 0.2s
    -webkit-transition-timing-function ease