.button-properties-form
  text-transform uppercase
  background-color #2473a3
  color #fff
  border none
  margin-top 28px
  padding 15px 35px
  font-size 18px
  border 1px solid #2473a3
  -webkit-transition-property background
  -webkit-transition-duration 0.5s
  -webkit-transition-timing-function ease
  &:hover
    background-color #fff
    transition-property background
    transition-duration 0.5s
    transition-timing-function ease
    border 1px solid #3274a6
    color #3274a6
    cursor pointer
  &:focus
    outline none