.button-modal
  background-color #fcbf00
  color #232323
  border none
  margin 7px auto 0 auto
  display inline-block
  text-decoration none
  padding 10px 98px
  font-size 25px
  text-transform uppercase
  -webkit-transition-property background
  -webkit-transition-duration 0.5s
  -webkit-transition-timing-function ease
  &:hover
    cursor pointer
    background-color #232323
    color #fff
    -webkit-transition-property background
    -webkit-transition-duration 0.2s
    -webkit-transition-timing-function ease
  &:focus
    outline none
  @media (max-width: 768px)
    padding 10px 50px