.cat-form
  background-color #fff
  padding 15px 0
  &__wrapper
    max-width 600px
    margin 30px auto 30px auto
    width 100%
    border 2px solid #58777f
    border-radius 2px

  &__title
    text-transform uppercase
    font-weight 400
    color #213033
    font-size 23px
    max-width 500px
    margin 0 auto

  &__phone
    display block
    margin 15px auto 10px auto
    border 1px solid #58767f
    border-radius 1px
    padding 8px 20px
    color #213033
    &:focus
      outline none

  &__will-call
    color #213033
    font-size 20px
    margin-top 10px

  &__button
    max-width 226px
    width 100%
    border 1px solid #58767f
    padding 9px 0
    color #fff
    text-transform uppercase
    background-color #58767f
    border-radius 2px
    font-weight 400
    -webkit-transition-property: background;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;
    &:hover
      cursor pointer
      color #58767f
      background-color #fff
      -webkit-transition-property: background;
      -webkit-transition-duration: .5s;
      -webkit-transition-timing-function: ease;
    &:focus
      outline none

  &__desc
    margin 10px 0 0 0
    color #213033

  &__link
    color #213033
    &:hover
      text-decoration none