<div class="overlay" id="js-overlay"></div>
<div class="modal modal--features js-modal-features-destruction" id="js-modal-features-destruction">

    <h2 class="modal__title">Разрушения</h2>
    <p class="modal__desc">
        Наши смеси имеют отличный опыт ремонта любых повреждений, начиная от трещин любой глубины и заканчивая выщелачиванием бетона.
    </p><br>
    <p class="modal__desc">Оставьте заявку! Мы поможем подобрать смесь для ремонта любого разрушения.</p>

    <form class="modal-form" action="succes.php" method="post">
        <input class="modal-form__phone modal-form__phone--features" type="text" name="phone" required="" placeholder="Ваш номер телефона">
        <button class="button-form" type="submit">Заказать</button>
        <p class="modal-form__desc">Нажимая на кнопку, я даю <a href="soglashenie.pdf" target="_blank" class="modal-form__link">cогласие на обработку персональных данных</a></p>
        <input type="hidden" name="forma" value="Обратный звонок">
        <input type="hidden" name="order_type" value="2">
        <input type="hidden" name="utm_source" value="<?php echo isset($_GET['utm_source']) ? $_GET['utm_source'] : '' ;?>">
        <input type="hidden" name="utm_medium" value="<?php echo isset($_GET['utm_medium']) ? $_GET['utm_medium'] : '' ;?>">
        <input type="hidden" name="utm_campaign" value="<?php echo isset($_GET['utm_campaign']) ? $_GET['utm_campaign'] : '' ;?>">
        <input type="hidden" name="utm_term" value="<?php echo isset($_GET['utm_term']) ? $_GET['utm_term'] : '' ;?>">
        <input type="hidden" name="utm_placement" value="<?php echo isset($_GET['utm_placement']) ? $_GET['utm_placement'] : '' ;?>">
        <input type="hidden" name="utm_creative" value="<?php echo isset($_GET['utm_creative']) ? $_GET['utm_creative'] : '' ;?>">
        <input type="hidden" name="utm_content" value="<?php echo isset($_GET['utm_content']) ? $_GET['utm_content'] : '' ;?>">
        <input type="hidden" value="8838" name="time_spend"><input type="hidden" value="false" name="mobile">
    </form>

    <a href="#" class="modal__close js-modal-close"></a>
</div>